apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ deployment_name }}
spec:
  type: ClusterIP  # Service type can be ClusterIP, NodePort, LoadBalancer, etc.
  selector:
    app: {{ deployment_name }}
  ports:
    - name: proxy
      port: 80
      targetPort: 80
      protocol: TCP
