apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ deployment_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ deployment_name }}
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP